.beaut {
    box-shadow: 10px 5px 5px gray;
    
}
.left {
    margin-left: 80px;
    padding: 1px;
}
.left2 {
    margin-left: 0;
    width: 62%;
}
.iii {
    margin-left: 50px;
    border-radius: 5px;
    width: 550px;
    height: 50px;
    padding: 0px;
}
.ddd {
    background-color: rgb(71, 69, 69);
    color: white;
    text-align: center;
    margin: 0px;
    padding: 0px;
 }